
.container{
    background-image: url("https://img.freepik.com/premium-vector/abstract-background-health-care-science-icon-pattern-medical-innovation-concept_44392-177.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 400px;
    min-height:200px;
    display: fles;
    text-align:center;
    justify-content: center;
    padding:180px;
}


.content h3{
    font-size: 30px;
    color:#333;

}

h3 span{
    background: rgb(221, 33, 33);
    color:white;
    border-radius: 5px;
    padding:0 10px;
}

h1{
        font-size: 50px;
        color:#333;

}

h1 span{
    font size:20px;
    margin-bottom:20px;
}

a{
    text-decoration: none;
}

.btn{
    display: inline;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    color:aliceblue;
    margin: 0 5px;

}

.btn:hover{
    background: rgb(223, 61, 61);
}